/* tmj route fix for P tags */
#maincontent h1 {
    margin-bottom: 20px;
}

#maincontent p {
    margin-bottom: 20px;
}

/* ----------------------------------------------------
    Common
---------------------------------------------------- */
.space-top-20 { padding-top: 20px; }
.space-top-30 { padding-top: 30px; }
.space-top-40 { padding-top: 40px; }
.space-bottom-5 { padding-bottom: 5px; }
.space-bottom-10 { padding-bottom: 10px; }
.space-bottom-20 { padding-bottom: 20px; }
.space-bottom-40 { padding-bottom: 40px; }